*{
  padding:0;
  margin:0;
}
html,body{
  height:100%;
  overflow: hidden;
}
li{
  list-style: none;
  padding: 0;
}
.tqr-box{
  height:100%;
  width:100%;
  .tqr-top-box{
    width:100%;
    height:150px;
    background-image:url("title.png");
  }
  .tqr-main-box{
    height:200px;
    border:solid 1px red;
  }
}
.task-item{
  border-bottom: solid 1px #ddd;
  vertical-align: middle;
  &:hover{
    background: lightblue;
  }
}